@{
    ViewData["Title"] = "Confirmação de apagar o Contato";
}
<div class="text-center">
    <h3>Deseja confirmar a exclusão do contato ()</h3>
</div>
<a class="btn btn-primary" role="button" asp-controller="Contato" asp-action="Index">Cancelar a exclusão</a>
<a class="btn btn-danger" role="button" asp-asp-controller="Contato" asp-action="Apagar">Confirmar a exclusão</a>
