@model Usuário
@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo a Tela de cadastro</h1>
    <p>Cadastro de Usuário Simplificado</a>.</p>
    <p> Nome: @Model.Nome</a>.</p>
    <p>Email: @Model.Email</a>.</p>
    <p>Endereço: @Model.Endereco</a>.</p>
    <p>Cidade: @Model.Cidade</a>.</p>
</div>
